.quadrado-tec{
    display: flex;
    justify-content: center;
    background-color: #7C5E99;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px #FFFFFF;
    align-items: center;

}

.quadrado-tec.-fired{
    margin-left: -100px;
}

.quadrado-tec.-collab{
    background-color: #4C5B84;
 
}

.quadrado-tec.-collabpython{
    background-color: #F25A70;
    margin-right: -100px;
}


.quadrado-tec .icon{
    align-items: center;
}