.section{
    background-color: #F25A70;
    height: 730px;
    border-bottom: 10px solid #1E5CFF;
    padding-top: 50px;
    padding-bottom: 100px;
}

.section .main-title{
    margin-bottom: 60px;
}